[submodule "UnityFeatureModule/Packages/com.gdk.core"]
	path = UnityFeatureModule/Packages/com.gdk.core
	url = git@github.com:GameDevelopmentKit/GameFoundation.git
	branch = haihoang/native
[submodule "UnityFeatureModule/Assets/FeatureTemplate"]
	path = UnityFeatureModule/Assets/FeatureTemplate
	url = git@github.com:NotthingStudioo/FeatureTemplate.git
[submodule "UnityFeatureModule/Packages/com.3rd.core"]
	path = UnityFeatureModule/Packages/com.3rd.core
	url = git@github.com:GameDevelopmentKit/ThirdPartyServices.git
	branch = haihoang/native
